#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

#
#    VanillaNaxxramas.Naxxramas.RequireNaxxStrathEntrance
#        Description: Requires Players to first enter through Stratholme entrance
#                     before being able to use teleporter like MC, BWL shortcuts
#        Default:   1 - Enabled
#                   0 - Disabled
#

VanillaNaxxramas.Naxxramas.RequireNaxxStrathEntrance = 1

#
#    VanillaNaxxramas.Naxxramas.RequireAttunement
#        Description: Requires Players to complete the attunement quests from Light's Hope Chapel
#                     Note that disabling this requirement does not remove the quest requirement
#                     for Echoes Of War (kill quest) which is a requirement for other quests.
#                     See database query in optional/SkipAttunement
#        Default:   1 - Enabled
#                   0 - Disabled (Requires optional/SkipAttunement DB changes to work as expected)
#

VanillaNaxxramas.Naxxramas.RequireAttunement = 1
