#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

#
#    VanillaNaxxramas.Naxxramas.RequireNaxxStrathEntrance
#        Description: If enabled, this will require players to first enter Naxx 40 through the original beta entrance in the back of Stratholme,
#                     before being able to use the teleportation crystal in EPL. This is consistent behavior with other Vanilla raids (MC, BWL).
#                     If disabled, players can enter Naxx 40 through the crystal as soon as they are attuned and they have reached the correct
#                     progression level - no Stratholme run will be required.
#        Default: 0 - Disabled
#                 1 - Enabled
#

VanillaNaxxramas.Naxxramas.RequireNaxxStrathEntrance = 0

#
#    VanillaNaxxramas.Naxxramas.RequireAttunement
#        Description: If enabled, this requires players to have the required AD rep (Honored+)
#                     and complete the attunement quests from Light's Hope Chapel to enter the instance.
#                     If disabled, the optional SQL files in data/optional/SkipAttunement/ need to be applied to the database to fully skip attunement.
#        Default:   1 - Enabled
#                   0 - Disabled (Requires optional SkipAttunement DB changes to work as expected)
#

VanillaNaxxramas.Naxxramas.RequireAttunement = 1
